In [1]:
#importing libraries 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import yfinance
from ta import add_all_ta_features
import yfinance
from prophet import Prophet
import os
from ta import add_all_ta_features
import pickle

from sklearn.decomposition import PCA
import seaborn as sns
%matplotlib inline

/Users/vipin/opt/anaconda3/envs/my_own/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Importing plotly failed. Interactive plots will not work.

In [2]:

# Data Extraction
#symbols = [ "^NSEI","^NSEBANK" , "^CNXFMCG","NIFTY_FIN_SERVICE.NS","^CNXIT","NIFTY_PVT_BANK.NS","^CNXMETAL"]
# ["INR=X","^DJI","^DJI","^FTSE","BTC-USD","^VIX","RTY=F"]

symbol = "^NSEI"
#symbols = ["OLECTRA.NS","CONCOR.NS","ELGIEQUIP.NS","IOC.NS","BEL.NS","TATAELXSI.NS","^NSEI","HDFCBANK.NS","TATAMOTORS.NS","SBIN.NS",
#"TCS.NS","TITAN.NS","SUNPHARMA.BO","TECHM.NS", "ASIANPAINT.NS","TATACONSUM.NS"]

#df = pd.read_csv("./stock_historical_data/{}.csv".format(symbol))
data = yfinance.download (tickers = "{}".format(symbol),start="2007-03-06",
                            interval = "1d", group_by = 'ticker', auto_adjust = True)



data = data[["Open", "High", "Low", "Close","Volume"]]
data["Returns"] = data["Close"].pct_change()
data["Range"] = data["High"] / data["Low"] - 1
data["Avg_Range"] = data["Range"].rolling(window=30).mean()
data.tail()

def exponential_moving_average(data, window):
    if len(data) < window:
        raise ValueError("Data length should be greater than or equal to the window size.")
    
    alpha = 2 / (window + 1)
    ema = [data[0]]

    for i in range(1, len(data)):
        ema_value = alpha * data[i] + (1 - alpha) * ema[-1]
        ema.append(ema_value)
    return ema

[*********************100%***********************]  1 of 1 completed

In [3]:
#visulazation
import seaborn as sns

In [10]:
data.dropna(inplace=True)

In [13]:
data["Gap"] = data["Open"] - data["Close"].shift(1)

In [14]:
data.dropna(inplace=True)

,Open,High,Low,Close,Volume,Returns,Range,Avg_Range,Gap
Date,,,,,,,,,
2007-10-29,5708.899902,5922.500000,5708.899902,5905.899902,0,0.035705,0.037415,0.033794,NaN
2007-10-30,5917.549805,5976.000000,5833.899902,5868.750000,0,-0.006290,0.024358,0.034114,11.649902
2007-10-31,5868.899902,5952.250000,5861.299805,5900.649902,0,0.005436,0.015517,0.034109,0.149902
2007-11-01,5903.799805,6011.950195,5837.200195,5866.450195,0,-0.005796,0.029937,0.033724,3.149902
2007-11-02,5854.850098,5944.750000,5714.250000,5932.399902,0,0.011242,0.040338,0.034788,-11.600098
...,...,...,...,...,...,...,...,...,...
2023-08-08,19627.199219,19634.400391,19533.099609,19570.849609,260300,-0.001350,0.005186,0.007687,29.898438
2023-08-09,19578.800781,19645.500000,19467.500000,19632.550781,266500,0.003153,0.009143,0.007787,7.951172
2023-08-10,19605.550781,19623.599609,19495.400391,19543.099609,312200,-0.004556,0.006576,0.007741,-27.000000
2023-08-11,19554.250000,19557.750000,19412.750000,19428.300781,235500,-0.005874,0.007469,0.007680,11.150391
2023-08-14,19383.949219,19392.000000,19257.900391,19311.400391,0,-0.006017,0.006963,0.007720,-44.351562