In [25]:
# Remove unwanted warnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

# Data Management
import pandas as pd
import numpy as np

from ta import add_all_ta_features

# Statistics
from statsmodels.tsa.stattools import adfuller

# Unsupervised Machine Learning
from sklearn.decomposition import PCA

# Supervised Machine Learning
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
import pickle 
from datetime import datetime


# Reporting
import matplotlib.pyplot as plt
import yfinance

In [2]:
df = pd.read_csv("./stock_historical_data/{}_15.csv".format("LT.NS"))
df.set_index("Datetime", inplace=True)
df["date"] = df.index

In [4]:
df_d = pd.read_csv("./stock_historical_data/{}.csv".format("LT.NS"))
df_d.set_index("Date", inplace=True)
df_d["date"] = df_d.index

In [49]:
df

,Open,High,Low,Close,Volume,date
Datetime,,,,,,
2023-01-02 09:15:00+05:30,2092.750000,2097.000000,2075.050049,2090.000000,0,2023-01-02 09:15:00+05:30
2023-01-02 10:15:00+05:30,2090.000000,2097.350098,2090.000000,2092.199951,87202,2023-01-02 10:15:00+05:30
2023-01-02 11:15:00+05:30,2092.199951,2097.600098,2083.100098,2092.300049,91963,2023-01-02 11:15:00+05:30
2023-01-02 12:15:00+05:30,2091.399902,2094.500000,2087.000000,2092.600098,85378,2023-01-02 12:15:00+05:30
2023-01-02 13:15:00+05:30,2092.649902,2095.000000,2085.000000,2086.050049,122805,2023-01-02 13:15:00+05:30
...,...,...,...,...,...,...
2023-07-11 11:15:00+05:30,2473.050049,2474.649902,2457.449951,2457.750000,236741,2023-07-11 11:15:00+05:30
2023-07-11 12:15:00+05:30,2457.750000,2476.000000,2456.000000,2474.050049,172491,2023-07-11 12:15:00+05:30
2023-07-11 13:15:00+05:30,2473.800049,2475.850098,2468.750000,2472.199951,114636,2023-07-11 13:15:00+05:30
2023-07-11 14:15:00+05:30,2472.199951,2476.050049,2468.550049,2474.300049,189152,2023-07-11 14:15:00+05:30
2023-07-11 15:15:00+05:30,2474.600098,2478.350098,2472.850098,2474.550049,129761,2023-07-11 15:15:00+05:30

In [71]:
merged_data = []
for i in range(1,len(df_d)):
    if i < len(df_d)-1:
        currentDate = df_d.iloc[i+1].date
        #print(currentDate)
        filterd = df[df["date"] == "{} 10:15:00+05:30".format(currentDate)]
        if len(filterd) > 0:
             merged_data.append({
                "Open" : df_d.iloc[i].Open,
                "Close" : df_d.iloc[i].Close,
                "High" : df_d.iloc[i].High,
                "Low" : df_d.iloc[i].Low,
                "Volume" :df_d.iloc[i].Volume,
                "date" : df_d.iloc[i].date,
                "nextDay" : filterd.Close.values[0],
                "dnextDay" : filterd.date.values[0],

            })
     

merged_df = pd.DataFrame(merged_data)
merged_df.head(20)

,Open,Close,High,Low,Volume,date,nextDay,dnextDay
0,2115.000000,2085.800049,2133.000000,2081.100098,1189427,2022-12-30,2092.199951,2023-01-02 10:15:00+05:30
1,2092.899902,2089.449951,2097.600098,2075.050049,807344,2023-01-02,2085.000000,2023-01-03 10:15:00+05:30
2,2088.000000,2088.949951,2096.800049,2067.949951,1260225,2023-01-03,2068.199951,2023-01-04 10:15:00+05:30
3,2090.949951,2070.550049,2101.449951,2058.000000,1015547,2023-01-04,2083.850098,2023-01-05 10:15:00+05:30
4,2080.000000,2087.350098,2099.199951,2068.500000,1881403,2023-01-05,2091.800049,2023-01-06 10:15:00+05:30
5,2090.199951,2086.550049,2121.699951,2071.850098,1877917,2023-01-06,2109.949951,2023-01-09 10:15:00+05:30
6,2108.000000,2121.699951,2127.300049,2100.750000,1844365,2023-01-09,2125.500000,2023-01-10 10:15:00+05:30
7,2131.899902,2106.649902,2131.899902,2097.199951,1425414,2023-01-10,2113.750000,2023-01-11 10:15:00+05:30
8,2106.100098,2125.350098,2140.000000,2097.100098,1455621,2023-01-11,2145.899902,2023-01-12 10:15:00+05:30
9,2118.100098,2159.750000,2164.649902,2118.100098,2726901,2023-01-12,2131.149902,2023-01-13 10:15:00+05:30
10,2161.899902,2153.399902,2164.850098,2117.199951,2180210,2023-01-13,2150.149902,2023-01-16 10:15:00+05:30
11,2147.000000,2137.199951,2161.000000,2132.300049,1009649,2023-01-16,2187.800049,2023-01-17 10:15:00+05:30
12,2139.899902,2213.100098,2217.800049,2136.399902,4645453,2023-01-17,2207.000000,2023-01-18 10:15:00+05:30
13,2221.000000,2266.500000,2274.800049,2200.000000,4090049,2023-01-18,2260.000000,2023-01-19 10:15:00+05:30
14,2259.850098,2273.100098,2283.800049,2241.000000,2176835,2023-01-19,2275.199951,2023-01-20 10:15:00+05:30
15,2282.449951,2249.949951,2297.649902,2238.449951,1962410,2023-01-20,2255.449951,2023-01-23 10:15:00+05:30
16,2255.000000,2233.500000,2273.300049,2227.000000,1466706,2023-01-23,2228.449951,2023-01-24 10:15:00+05:30
17,2244.699951,2207.500000,2252.300049,2200.000000,1036962,2023-01-24,2167.800049,2023-01-25 10:15:00+05:30
18,2201.000000,2174.699951,2205.000000,2155.000000,2134447,2023-01-25,2141.949951,2023-01-27 10:15:00+05:30
19,2174.699951,2159.850098,2195.000000,2127.100098,1647900,2023-01-27,2135.649902,2023-01-30 10:15:00+05:30

In [ ]:
  #merged_df = pd.DataFrame(merged_data)
#merged_df.head(20)
    merged_data.append({
            "Open" : filterd.Open.values[0],
            "Close" : filterd.Close.values[0],
            "High" : filterd.High.values[0],
            "Low" : filterd.Open.values[0],
            "Volume" : filterd.Volume.values[0],
            "date" : filterd.date.values[0],

            
        })

In [10]:
df = add_all_ta_features(df, open="Open", high="High", low="Low", close="Close", volume="Volume", fillna=True)

In [11]:
df

,Open,High,Low,Close,Volume,volume_adi,volume_obv,volume_cmf,volume_fi,volume_em,...,momentum_ppo,momentum_ppo_signal,momentum_ppo_hist,momentum_pvo,momentum_pvo_signal,momentum_pvo_hist,momentum_kama,others_dr,others_dlr,others_cr
Datetime,,,,,,,,,,,,,,,,,,,,,
2023-01-02 09:15:00+05:30,2092.750000,2097.000000,2075.050049,2090.000000,0,0.000000e+00,0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2090.000000,-6.587393,0.000000,0.000000
2023-01-02 10:15:00+05:30,2090.000000,2097.350098,2090.000000,2092.199951,87202,-3.500129e+04,87202,-0.401382,191840.142090,64480.661586,...,0.008396,0.001679,0.006717,107.692308,107.692308,0.000000,2090.791855,0.105261,0.105205,0.105261
2023-01-02 11:15:00+05:30,2092.199951,2097.600098,2083.100098,2092.300049,91963,-1.026704e+04,179165,-0.057305,165749.447614,-52425.205781,...,0.015260,0.004395,0.010864,99.326818,106.019210,-6.692392,2091.368351,0.004784,0.004784,0.110050
2023-01-02 12:15:00+05:30,2091.399902,2094.500000,2087.000000,2092.600098,85378,3.185500e+04,264543,0.120415,145730.607791,3512.927895,...,0.021607,0.007838,0.013769,91.043118,103.023991,-11.980873,2091.892920,0.014341,0.014340,0.124407
2023-01-02 13:15:00+05:30,2092.649902,2095.000000,2085.000000,2086.050049,122805,-6.515975e+04,141738,-0.168220,10000.700058,-6107.243190,...,0.001340,0.006538,-0.005198,86.203231,99.659839,-13.456608,2089.375310,-0.313010,-0.313501,-0.188993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-11 11:15:00+05:30,2473.050049,2474.649902,2457.449951,2457.750000,236741,-2.132974e+06,12191438,-0.323625,44058.552897,-35781.972435,...,-0.098636,-0.152708,0.054072,0.459637,0.885717,-0.426080,2442.203378,-0.618671,-0.620593,17.595694
2023-07-11 12:15:00+05:30,2457.750000,2476.000000,2456.000000,2474.050049,172491,-1.994118e+06,12363929,-0.275814,439423.291399,-578.891163,...,-0.028376,-0.127842,0.099465,-0.533060,0.601962,-1.135022,2442.989530,0.663210,0.661021,18.375600
2023-07-11 13:15:00+05:30,2473.800049,2475.850098,2468.750000,2472.199951,114636,-1.997350e+06,12249293,-0.267827,346350.279068,39019.995393,...,0.020942,-0.098085,0.119027,-3.810920,-0.280615,-3.530305,2444.811202,-0.074780,-0.074808,18.287079
2023-07-11 14:15:00+05:30,2472.199951,2476.050049,2468.550049,2474.300049,189152,-1.896469e+06,12438445,-0.229708,353619.906612,0.000000,...,0.066117,-0.065245,0.131361,-3.148900,-0.854272,-2.294629,2449.360033,0.084949,0.084912,18.387562
2023-07-11 15:15:00+05:30,2474.600098,2478.350098,2472.850098,2474.550049,129761,-1.946017e+06,12568206,-0.205396,307737.098524,13987.460450,...,0.101531,-0.031890,0.133420,-5.242130,-1.731843,-3.510287,2453.044869,0.010104,0.010103,18.399524