# Import libraries and data

In [60]:
#import libraries
import itertools
from prophet import Prophet
import pandas as pd
import numpy as np
import yfinance

In [61]:
#get the data
#data = pd.read_csv("../Daily Bike Sharing.csv")
#data.head(1)
stock_name = "ELGIEQUIP"
data = yfinance.download (tickers = "{}.NS".format(stock_name),start="2015-03-16",
                               interval = "1d", group_by = 'ticker', auto_adjust = True)

data["ds"] = data.index
data.tail()

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close   Volume         ds
Date
2023-07-07  541.000000  543.750000  535.000000  538.700012   166062 2023-07-07
2023-07-10  539.849976  549.950012  535.400024  546.349976   329748 2023-07-10
2023-07-11  550.000000  554.200012  542.849976  545.500000   522239 2023-07-11
2023-07-12  559.000000  623.000000  556.650024  583.200012  8440159 2023-07-12
2023-07-13  588.750000  591.700012  570.049988  572.000000   550124 2023-07-13

In [62]:

df = data.reset_index()
print("Len:",len(df))

Len: 2058

In [63]:
training_set = df.iloc[:1500, 1:2].values
test_set = df.iloc[1500:, 1:2].values

In [64]:
print("Len of Trainset :",len(training_set),"Length of test set :",len(test_set),"Col :",training_set)

Len of Trainset : 1500 Length of test set : 558 Col : [[ 70.14223036]
 [ 68.41435755]
 [ 67.52707985]
 ...
 [205.30219305]
 [188.03286182]
 [186.05356954]]

In [65]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range=(0,1))
training_set_scaled = sc.fit_transform(training_set)