#Libraries and Data

In [1]:
#import libraries
import numpy as np
import pandas as pd
import itertools
import yfinance
from datetime import datetime

In [19]:
def load_and_setup_data(sybmol,input_data):
    df = pd.read_csv("../stock_historical_data/{}.csv".format(sybmol))
    df.set_index("Date", inplace=True)
    new_data = pd.DataFrame(input_data)
    new_data.set_index("Date", inplace=True)
    concatenated_df = pd.concat([df,new_data])
    concatenated_df.to_csv("../stock_historical_data/{}.csv".format(sybmol))

   # print(concatenated_df)
    print(concatenated_df)
    return concatenated_df

def fetch_stock_data(tickers):
    data = yfinance.download(tickers,period='1d')
    #print(data)
    return data

In [12]:
#symbols = ["OLECTRA.NS","LT.NS","CONCOR.NS","ELGIEQUIP.NS","IOC.NS","BEL.NS","TATAELXSI.NS","^NSEI"]
symbols = ["OLECTRA.NS","CONCOR.NS","ELGIEQUIP.NS","IOC.NS","BEL.NS","TATAELXSI.NS","^NSEI","RELI","HDFCBANK.NS","TATAMOTORS.NS","SBIN.NS","TCS.NS","TITAN.NS","SUNPHARMA.BO","TECHM.NS", "ASIANPAINT.NS","TATACONSUM.NS"]
#symbols = ["OLECTRA.NS","HDFCBANK.NS"]
Icdate = 0
Iresult = 1
IisClassification = 2
Imodel = 3
Istock = 4
Iclose = 5
Iprob = 6
  # Add the tickers you want to fetch data for
loaded_models = {}
result = []

final_result = {}
final_target = {}
stock_data = fetch_stock_data(symbols)
print(stock_data)

[*********************100%***********************]  17 of 17 completed
               Adj Close                                                    \
           ASIANPAINT.NS      BEL.NS   CONCOR.NS ELGIEQUIP.NS  HDFCBANK.NS
Date
2023-08-03   3336.350098  124.650002  688.950012   516.299988  1628.650024
2023-08-04   3339.649902  127.599998  695.150024   510.700012  1652.199951

                                                                   ... Volume  \
               IOC.NS   OLECTRA.NS  RELI     SBIN.NS SUNPHARMA.BO  ...   RELI
Date                                                               ...
2023-08-03  93.500000  1129.650024  3.21  590.500000  1140.849976  ...  17700
2023-08-04  92.300003  1138.250000  3.22  573.299988  1138.800049  ...  56700

                                                                            \
             SBIN.NS SUNPHARMA.BO TATACONSUM.NS TATAELXSI.NS TATAMOTORS.NS
Date
2023-08-03  27774877       350345       1375222        56859      11458920
2023-08-04  52725616        62968        887582        76182      11806739


             TCS.NS TECHM.NS TITAN.NS   ^NSEI
Date
2023-08-03  2026351  2348236  3319847  315700
2023-08-04  2248493  3580506   709334  280800

[2 rows x 102 columns]

In [14]:
stock_data.tail()

               Adj Close                                                    \
           ASIANPAINT.NS      BEL.NS   CONCOR.NS ELGIEQUIP.NS  HDFCBANK.NS
Date
2023-08-03   3336.350098  124.650002  688.950012   516.299988  1628.650024
2023-08-04   3339.649902  127.599998  695.150024   510.700012  1652.199951

                                                                   ... Volume  \
               IOC.NS   OLECTRA.NS  RELI     SBIN.NS SUNPHARMA.BO  ...   RELI
Date                                                               ...
2023-08-03  93.500000  1129.650024  3.21  590.500000  1140.849976  ...  17700
2023-08-04  92.300003  1138.250000  3.22  573.299988  1138.800049  ...  56700

                                                                            \
             SBIN.NS SUNPHARMA.BO TATACONSUM.NS TATAELXSI.NS TATAMOTORS.NS
Date
2023-08-03  27774877       350345       1375222        56859      11458920
2023-08-04  52725616        62968        887582        76182      11806739


             TCS.NS TECHM.NS TITAN.NS   ^NSEI
Date
2023-08-03  2026351  2348236  3319847  315700
2023-08-04  2248493  3580506   709334  280800

[2 rows x 102 columns]

In [32]:
finaldata = {}
current_date = datetime.now().strftime("%d-%m-%Y")

for symbol in symbols:
    stock_name = symbol
    if symbol == "^NSEI":
        stock_name = "NSEI"
    #print(symbol)
    input_data = {
                    # "Open" : stock_data.head(1).Open[ticker].values[0],
                    "Open" : [stock_data.head().Open[symbol].values[0]],
                    "Close" : [stock_data.head().Close[symbol].values[0]],
                    "High" : [stock_data.head(1).High[symbol].values[0]],
                    "Low" : [stock_data.head(1).Low[symbol].values[0]], 
                    "Volume" : [stock_data.head(1).Volume[symbol].values[0]],
                    "Date":[np.datetime_as_string(stock_data.index, unit='D')[0]]
    }    
    print(input_data)
    #data = load_and_setup_data(symbol,input_data)

                   Open         High          Low        Close     Volume
Date
2020-01-01   174.885252   175.834626   173.386236   173.835938    24780.0
2020-01-02   177.833316   177.833316   172.386893   173.536133    62181.0
2020-01-03   173.536134   175.884599   171.137713   171.537445    62012.0
2020-01-06   172.386883   172.786614   165.391473   166.590683    56749.0
2020-01-07   169.888525   178.882623   169.888525   175.384918   111270.0
...                 ...          ...          ...          ...        ...
2023-07-26  1075.000000  1190.099976  1053.099976  1190.099976  1967962.0
2023-07-27  1225.550049  1260.000000  1190.099976  1213.599976  2267913.0
2023-07-28  1219.949951  1224.400024  1162.500000  1177.250000   910161.0
2023-07-31  1178.900024  1188.000000  1141.000000  1150.150024   618415.0
2023-07-31  1164.599976  1208.800049  1155.000000  1158.449951  1025846.0

[891 rows x 5 columns]
                  Open        High         Low       Close     Volume
Date
2020-01-01  544.715615  547.183863  542.057551  543.956177   615465.0
2020-01-02  546.756694  546.756694  539.636848  543.006897   835523.0
2020-01-03  544.952912  546.471847  537.928033  540.823425  1086282.0
2020-01-06  537.358444  539.209615  530.665801  533.703613   944473.0
2020-01-07  536.409117  538.924819  526.631208  528.150085   532397.0
...                ...         ...         ...         ...        ...
2023-07-26  680.000000  687.000000  677.099976  678.950012   504923.0
2023-07-27  682.000000  683.500000  670.500000  675.049988   561343.0
2023-07-28  675.000000  690.950012  671.450012  689.750000  1040732.0
2023-07-31  689.000000  698.799988  684.549988  694.700012  1015347.0
2023-07-31  698.750000  704.900024  690.650024  693.549988  1289359.0

[891 rows x 5 columns]
                  Open        High         Low       Close    Volume
Date
2020-01-01  122.384794  124.193665  121.884964  123.265434   33738.0
2020-01-02  125.669325  135.189729  124.241265  130.738937  370622.0
2020-01-03  128.715877  130.905573  128.073247  130.477158   84830.0
2020-01-06  128.549234  130.762739  127.692403  129.644089   88364.0
2020-01-07  129.644112  130.429542  128.073236  128.097046    8666.0
...                ...         ...         ...         ...       ...
2023-07-26  550.401561  558.939512  549.061262  555.712952  327286.0
2023-07-27  559.000864  560.445581  544.553823  545.599976  181728.0
2023-07-28  547.799988  550.950012  538.000000  541.500000  181019.0
2023-07-31  544.650024  546.250000  532.700012  535.549988  275052.0
2023-07-31  538.900024  543.900024  536.750000  539.700012  218847.0

[891 rows x 5 columns]
                 Open       High        Low      Close      Volume
Date
2020-01-01  62.049694  62.443816  61.951165  62.049694   3191238.0
2020-01-02  62.172852  62.665509  62.074323  62.566975   3838770.0
2020-01-03  62.320654  62.813306  62.148222  62.493080  13278157.0
2020-01-06  62.320656  62.320656  61.335348  61.532406  18947248.0
2020-01-07  61.729452  62.788658  61.138266  61.359962  12677539.0
...               ...        ...        ...        ...         ...
2023-07-28  96.199997  96.599998  94.250000  95.250000  27278447.0
2023-07-31  96.000000  96.199997  93.000000  93.750000  25404889.0
2023-07-31        NaN        NaN        NaN        NaN         NaN
2023-07-31        NaN        NaN        NaN        NaN         NaN
2023-07-31  93.800003  94.750000  93.300003  94.000000  16130416.0

[893 rows x 5 columns]
                  Open        High         Low       Close      Volume
Date
2020-01-01   30.564429   30.762504   30.290169   30.518717  15438294.0
2020-01-02   30.671083   31.630982   30.442535   31.432907  26262750.0
2020-01-03   31.448145   31.661453   30.579664   30.762503  21950223.0
2020-01-06   30.320639   30.747262   29.147431   29.543579  36402729.0
2020-01-07   29.970204   30.168279   29.040777   29.360743  33298260.0
...                ...         ...         ...         ...         ...
2023-07-26  127.050003  127.349998  125.650002  126.000000  12681896.0
2023-07-27  126.199997  128.800003  126.000000  127.250000  11597763.0
2023-07-28  129.250000  131.699997  128.000000  130.149994  37245053.0
2023-07-31  130.300003  131.000000  128.850006  130.699997  16189381.0
2023-07-31  131.000000  133.250000  130.050003  130.449997  17075509.0

[891 rows x 5 columns]
                   Open         High          Low        Close    Volume
Date
2020-01-01   797.670536   801.042739   791.022455   797.622314  263807.0
2020-01-02   799.501083   805.282002   793.238421   798.007690  294367.0
2020-01-03   797.766856   811.255668   791.552356   807.498047  666116.0
2020-01-06   804.511197   804.511197   786.734860   793.334778  301418.0
2020-01-07   799.693881   802.391632   791.745116   796.658875  224550.0
...                 ...          ...          ...          ...       ...
2023-07-26  7290.000000  7300.000000  7212.000000  7226.700195   93794.0
2023-07-27  7254.049805  7269.950195  7214.049805  7231.049805   74652.0
2023-07-28  7279.950195  7279.950195  7205.049805  7223.049805   53585.0
2023-07-31  7229.950195  7250.000000  7140.000000  7159.399902  141474.0
2023-07-31  7240.000000  7250.000000  7160.100098  7185.049805  105509.0

[891 rows x 5 columns]
                    Open          High           Low         Close    Volume
Date
2020-01-01  12202.150391  12222.200195  12165.299805  12182.500000  304100.0
2020-01-02  12198.549805  12289.900391  12195.250000  12282.200195  407700.0
2020-01-03  12261.099609  12265.599609  12191.349609  12226.650391  428800.0
2020-01-06  12170.599609  12179.099609  11974.200195  11993.049805  396500.0
2020-01-07  12079.099609  12152.150391  12005.349609  12052.950195  447800.0
...                  ...           ...           ...           ...       ...
2023-07-26  19733.349609  19825.599609  19716.699219  19778.300781  244700.0
2023-07-27  19850.900391  19867.550781  19603.550781  19659.900391  334900.0
2023-07-28  19659.750000  19695.900391  19563.099609  19646.050781  258700.0
2023-07-31  19666.349609  19772.750000  19597.599609  19753.800781       0.0
2023-07-31  19784.000000  19795.599609  19704.599609  19733.550781       0.0

[890 rows x 5 columns]
                  Open        High        Low      Close    Volume
Date
2021-02-09   81.000000  136.050003  78.000000  87.300003  136673.0
2021-02-10  105.000000  105.000000  90.000000  97.349998   74767.0
2021-02-11  102.000000  102.000000  90.000000  91.050003   18300.0
2021-02-12   89.550003   89.699997  72.150002  78.150002   32280.0
2021-02-16   78.750000   81.000000  75.150002  75.900002   17207.0
...                ...         ...        ...        ...       ...
2023-07-25    3.750000    4.020000   3.600000   3.640000   15600.0
2023-07-26    3.600000    3.675000   3.580000   3.584000   10000.0
2023-07-27    3.740000    3.749000   3.390000   3.440000    8800.0
2023-07-28    3.380000    3.510000   3.270000   3.270000   13200.0
2023-07-31         NaN         NaN        NaN        NaN       NaN

[622 rows x 5 columns]
                   Open         High          Low        Close      Volume
Date
2020-01-01  1241.756978  1245.552044  1236.404997  1244.189697   1836849.0
2020-01-02  1244.578933  1253.336721  1244.578933  1252.120361   3068583.0
2020-01-03  1247.692696  1250.417388  1229.593293  1234.264160   5427775.0
2020-01-06  1226.090220  1227.841825  1202.736121  1207.552856   5445093.0
2020-01-07  1225.019993  1237.232171  1218.548937  1226.674194   7362247.0
...                 ...          ...          ...          ...         ...
2023-07-25  1684.650024  1699.000000  1678.400024  1696.599976  27996298.0
2023-07-26  1699.599976  1699.599976  1688.000000  1690.699951  12397179.0
2023-07-27  1699.900024  1703.000000  1667.449951  1673.150024  29870651.0
2023-07-28  1661.500000  1668.900024  1641.099976  1643.500000  20507842.0
2023-07-31  1654.449951  1667.449951  1650.000000  1662.250000  17696008.0

[890 rows x 5 columns]
                  Open        High         Low       Close      Volume
Date
2020-01-01  184.574729  186.119917  183.029557  183.876907  25968357.0
2020-01-02  184.425197  194.095056  184.026446  193.148010  57289863.0
2020-01-03  192.300651  195.042107  188.661998  190.506256  47572728.0
2020-01-06  190.406565  190.406565  184.475054  185.073181  28621212.0
2020-01-07  186.418986  188.811523  181.733592  184.126129  34995035.0
...                ...         ...         ...         ...         ...
2023-07-26  638.011535  663.332642  637.014642  639.108093  31673714.0
2023-07-27  644.989747  646.435254  634.771594  641.700012  11696851.0
2023-07-28  646.000000  646.000000  631.799988  635.299988   9299530.0
2023-07-31  640.200012  645.549988  635.900024  644.299988   7498265.0
2023-07-31  645.000000  652.900024  642.000000  643.650024   8922021.0

[891 rows x 5 columns]
                  Open        High         Low       Close      Volume
Date
2020-01-01  320.317535  321.513821  317.877094  320.078278  17379320.0
2020-01-02  320.126122  325.246232  319.025545  324.719849  20324236.0
2020-01-03  323.427845  323.427845  317.733513  319.360474  21853208.0
2020-01-06  317.446452  317.446452  304.048050  305.292175  35645325.0
2020-01-07  310.507967  312.948379  301.846840  304.717926  50966826.0
...                ...         ...         ...         ...         ...
2023-07-26  612.000000  616.349976  609.150024  615.150024   9999125.0
2023-07-27  616.400024  621.250000  613.099976  616.549988  17444742.0
2023-07-28  616.400024  619.900024  613.599976  616.049988  11930586.0
2023-07-31  616.650024  621.000000  614.500000  620.200012   8604448.0
2023-07-31  620.200012  620.849976  610.599976  611.849976  13484921.0

[891 rows x 5 columns]
                   Open         High          Low        Close     Volume
Date
2020-01-01  2014.152042  2028.923638  2001.145525  2013.780518  1354908.0
2020-01-02  2025.253822  2025.253822  1996.685939  2004.536255  2380752.0
2020-01-03  2010.435993  2065.249174  2010.435993  2044.485107  4655761.0
2020-01-06  2048.525501  2067.988771  2032.638886  2044.298340  3023209.0
2020-01-07  2044.345480  2057.491260  2028.830611  2049.315918  2429317.0
...                 ...          ...          ...          ...        ...
2023-07-26  3400.350098  3420.850098  3385.000000  3388.300049  1066803.0
2023-07-27  3394.949951  3411.649902  3385.050049  3396.899902  1701769.0
2023-07-28  3385.000000  3393.699951  3331.000000  3355.399902  2599831.0
2023-07-31  3364.399902  3426.649902  3360.899902  3421.449951  2743566.0
2023-07-31  3415.000000  3460.000000  3415.000000  3452.050049  1955793.0

[891 rows x 5 columns]
                   Open         High          Low        Close     Volume
Date
2020-01-01  1170.644192  1175.103557  1129.236248  1131.735474  3137636.0
2020-01-02  1133.940481  1136.782706  1117.279298  1132.568359  3286436.0
2020-01-03  1132.960535  1132.960535  1109.438863  1116.985352  2695237.0
2020-01-06  1138.840805  1148.053483  1127.177954  1135.508545  4494752.0
2020-01-07  1147.612430  1150.454656  1129.089211  1136.831665  2363578.0
...                 ...          ...          ...          ...        ...
2023-07-26  3044.899902  3044.899902  2995.000000  3008.350098   588487.0
2023-07-27  3013.949951  3024.100098  2983.649902  3002.100098   595544.0
2023-07-28  3008.149902  3010.000000  2951.699951  2987.000000   837051.0
2023-07-31  2950.000000  3017.949951  2950.000000  3004.050049   656032.0
2023-07-31  3024.850098  3027.500000  2987.699951  3001.899902   602264.0

[891 rows x 5 columns]

                   Open         High          Low        Close     Volume
Date
2010-01-04   134.570376   135.357857   131.507980   131.954224    99480.0
2010-01-05   133.782930   136.495343   132.251732   135.948486   148210.0
2010-01-06   136.591558   137.895255   134.045392   137.256531   177430.0
2010-01-07   136.495329   137.807784   133.870418   134.920380   122270.0
2010-01-08   135.191609   140.432684   135.191609   137.768402   340780.0
...                 ...          ...          ...          ...        ...
2023-06-30   995.049988  1056.000000   995.049988  1051.400024  1169702.0
2023-07-07  1039.949951  1051.000000  1028.349976  1035.500000    61772.0
2023-07-10  1035.500000  1050.900024  1032.099976  1046.050049    27294.0
2023-07-14  1077.050049  1079.349976  1064.849976  1072.400024    33392.0
2023-07-31  1143.000000  1152.750000  1136.000000  1143.650024    31870.0

[3326 rows x 5 columns]
                   Open         High          Low        Close      Volume
Date
2020-01-01   652.431235   653.112615   647.618895   649.109436    746371.0
2020-01-02   649.109501   655.114296   648.172611   652.473877   1133488.0
2020-01-03   652.431213   664.270390   650.344445   660.182007   2121704.0
2020-01-06   659.969147   663.333523   654.262545   656.178955   1734439.0
2020-01-07   655.838180   663.077952   647.831823   661.885498   1937143.0
...                 ...          ...          ...          ...         ...
2023-07-26  1158.000000  1167.000000  1139.449951  1143.199951   3170213.0
2023-07-27  1111.000000  1125.000000  1082.300049  1099.900024  17594818.0
2023-07-28  1100.000000  1100.000000  1085.050049  1091.050049   4244321.0
2023-07-31  1095.000000  1119.000000  1087.150024  1115.500000   4765771.0
2023-07-31  1120.000000  1154.500000  1119.900024  1143.500000   3804406.0

[891 rows x 5 columns]
                   Open         High          Low        Close     Volume
Date
2020-01-01  1743.620050  1755.648806  1736.802186  1746.541992   397285.0
2020-01-02  1744.399097  1753.067547  1736.996869  1744.058228   411266.0
2020-01-03  1733.490786  1733.490786  1701.592920  1705.829712  1318628.0
2020-01-06  1692.729736  1692.778482  1649.923331  1662.731201  1871804.0
2020-01-07  1666.480862  1695.213291  1666.480862  1679.532227  1033650.0
...                 ...          ...          ...          ...        ...
2023-07-26  3399.850098  3413.000000  3365.000000  3373.000000   959076.0
2023-07-27  3390.000000  3414.000000  3351.000000  3369.399902   874078.0
2023-07-28  3375.000000  3399.000000  3364.500000  3390.699951   553750.0
2023-07-31  3323.199951  3388.000000  3323.149902  3377.350098   933820.0
2023-07-31  3372.000000  3385.000000  3338.000000  3342.949951   697308.0

[891 rows x 5 columns]
                  Open        High         Low       Close     Volume
Date
2020-01-01  311.205266  314.497925  308.590490  313.626343  1514293.0
2020-01-02  313.384228  317.112693  310.963151  313.142120  3091351.0
2020-01-03  313.577914  313.577914  306.992595  308.154724  1718884.0
2020-01-06  305.297804  308.106248  300.600909  302.247253  1712158.0
2020-01-07  304.087280  309.316801  302.150419  304.958862  2146089.0
...                ...         ...         ...         ...        ...
2023-07-26  873.950012  883.950012  869.549988  873.900024  1940116.0
2023-07-27  875.950012  880.000000  847.700012  850.049988  3203072.0
2023-07-28  854.250000  860.400024  842.000000  859.349976  2365708.0
2023-07-31  859.349976  860.849976  852.500000  859.299988  1453376.0
2023-07-31  861.900024  863.299988  853.099976  856.750000   987770.0

[891 rows x 5 columns]