### Imports

In [1]:
import numpy as np
import pandas as pd
from stratmanager import StrategyManager
import sklearn.mixture as mix
from ta.momentum import RSIIndicator
import matplotlib.pyplot as plt
import yfinance

In [2]:
#symbols = ["OLECTRA.NS","CONCOR.NS","ELGIEQUIP.NS","IOC.NS","BEL.NS","TATAELXSI.NS","^NSEI","HDFCBANK.NS","TATAMOTORS.NS",
#"SBIN.NS","TCS.NS","TITAN.NS","SUNPHARMA.BO","TECHM.NS", "ASIANPAINT.NS","TATACONSUM.NS"]

stock = "TATACONSUM.NS"


data3 = yfinance.download(tickers = stock,start="2022-01-01",end="2022-06-01",
                        interval = "1h", group_by = 'ticker', auto_adjust = True)
data3 = data3[["Open", "High", "Low", "Close", "Volume"]]


data4 = yfinance.download(tickers = stock,start="2022-06-01",end="2023-01-01",
                        interval = "1h", group_by = 'ticker', auto_adjust = True)
data4 = data4[["Open", "High", "Low", "Close", "Volume"]]


data5 = yfinance.download(tickers = stock,start="2023-01-01",end="2023-06-01",
                        interval = "1h", group_by = 'ticker', auto_adjust = True)
data5 = data5[["Open", "High", "Low", "Close", "Volume"]]

data6 = yfinance.download(tickers = stock,start="2023-06-01",
                        interval = "1h", group_by = 'ticker', auto_adjust = True)
data6 = data6[["Open", "High", "Low", "Close", "Volume"]]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
new_data = pd.concat([data3,data4,data5,data6])

In [4]:
new_data.shape

(2683, 5)

In [5]:
new_data.tail()

,Open,High,Low,Close,Volume
Datetime,,,,,
2023-08-01 12:15:00+05:30,3344.800049,3353.350098,3338.000000,3341.449951,128100
2023-08-01 13:15:00+05:30,3341.449951,3351.000000,3340.850098,3344.000000,75363
2023-08-01 14:15:00+05:30,3344.550049,3349.199951,3341.149902,3343.350098,117300
2023-08-01 15:15:00+05:30,3343.500000,3345.000000,3340.000000,3343.750000,87216
2023-08-02 09:15:00+05:30,3337.000000,3354.399902,3332.000000,3336.199951,75813

In [6]:
new_data.to_csv(f"../../stock_historical_data/1h/{stock}_1h.csv")